APP_PORT=3000

MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=promotion_engine
MYSQL_USER=promotion
MYSQL_PASSWORD=promotion123
MYSQL_HOST_PORT=3307

DB_HOST=mysql
DB_PORT=3307
DB_NAME=promotion_engine
DB_USER=promotion
DB_PASSWORD=promotion123

TZ=Asia/Bangkok